@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
    font-family: 'Poppins', Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    
}

a {
    text-decoration: none;
}

/* header */
header {
    width: 500px;
    background-color: #f1f1f1;
    height: 100vh;
    padding: 50px;
}

nav {
    display: flex;
}
nav .nav-list {
    padding: 10px 30px;
}
nav .nav-list a{
    color: black;
}


.jumbotron {
    color: black;
    font-family: poppins;
    margin: 0 20px;
    margin-top: 200px;

}
.social {
    display: flex;
    margin: 10px;
}
.social-list img{
    width: 20px;
    margin: 10px;
}

/* main */
main {
    display: flex;
    max-height: 100vh;
}

/* profile */
.profile {
    height: 100vh;
    
}

.main-photo{
    text-align: center;
    padding: 0 30px;
    background-color: #f1f1f1;
}
.main-photo img {
    width: 400px;
    
    
}
.about {
    padding: 30px;
    text-align: justify;
    background-color: #1a5f3b;
    height: 100%;
    color: white;
    /* border-radius: 10px; */
}

/* blog */
.blog {
    padding: 30px;
    height: 100vh;
    text-align: justify;    
    color: white;
    background-color: #1b4131;
}
.card-blog {
    padding: 30px;    
    height: 100%;   
}
.blog a {
    display: block;
}
.blog-image {
    display: block;
    margin: auto;
}


