@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
    font-family: 'Poppins', Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    
}

a {
    text-decoration: none;
    color: white;
}

/* header */
header {
    width: 30%;
    background-color: #f1f1f1;
    height: 100vh;
    padding: 50px;
}

nav {
    display: flex;
}
nav .nav-list {
    padding: 10px 30px;
}
nav .nav-list a{
    color: black;
}


.jumbotron {
    color: black;
    font-family: poppins;
    margin: 0 20px;
    margin-top: 200px;

}
.social {
    display: flex;
    margin: 10px;
}
.social-list img{
    width: 20px;
    margin: 10px;
}

/* main */
main {
    display: flex;
    max-height: 100vh;
}

/* profile */
.profile {
    height: 100vh;
    width: 100%;
}

.main-photo{
    text-align: center;
    padding: 0 30px;
    background-color: #f1f1f1;
    width: 100%;
    height: 50%;
    background: url("./wisata\ kuburan.jpg");
    background-size: cover  ;
}

.about {
    padding: 30px;
    text-align: justify;
    background-color: #1a5f3b;
    height: 50%;
    color: white;       
    /* border-radius: 10px; */
}

/* blog */
.blog {
    width: 50%;
    padding: 30px;
    height: 100vh;
    text-align: justify;    
    color: white;
    background-color: #1b4131;
}
.card-blog {
    padding: 30px;    
    height: 100%;   
}
.blog a {
    display: block;
}
.blog-image {
    display: block;
    margin: auto;
}

 .about a,.blog a {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    body {
        display: inline;
    }
    main {
        display: inline;
    }
    header {
        width: 100%;
        
    }
   
    .profile, .about, .blog, .main-photo {
        width: 100%;
    }
    .about {
        height: 100%;
    }
    .main-photo {
    }
}

@media (min-width: 1920px) {
    .blog, .about {
        font-size: 1.5rem;
    }
}